h1 {
  padding: 0;
  margin: 0; }

.supertitle {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 2.4rem;
  background-color: rgba(41, 49, 51, 0.95);
  padding: 15px;
  font-weight: 400;
  display: inline-block; }

.title, h2, h2 a, .field--name-field-news-title p {
  text-transform: uppercase;
  font-size: 1.8rem !important;
  font-weight: 600 !important;
  color: #293133; }

h2 {
  padding: 0;
  margin: 0;
  text-align: center; }

.subtitle, .field--name-field-news-subtitle p {
  font-family: "Crimson Text", serif;
  font-size: 1.5rem;
  color: #969696;
  font-weight: 400;
  text-transform: lowercase;
  font-style: italic; }

p {
  font-size: 1.5rem;
  font-weight: 400; }

a {
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 400;
  color: #293133; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.block_default, .node--type-news-page, #block-views-block-news-list-block-1, .field--name-field-news-image .field__item {
  padding: 75px 25px;
  max-width: 1200px;
  margin: 0 auto; }

.field--name-field-content-link, .field--name-field-content-image-block-button, .button_red {
  margin-top: 25px; }
  .field--name-field-content-link a, .field--name-field-content-image-block-button a, .button_red a {
    color: #ffffff;
    background-color: #811F58;
    padding: 15px;
    border-radius: 25px; }
  .field--name-field-content-link a:hover, .field--name-field-content-image-block-button a:hover, .button_red a:hover {
    background-color: #66146A; }

.button_small_red, #block-backtonewsblock .field--name-field-block-block-link a {
  color: #ffffff;
  background-color: #811F58;
  padding: 5px 15px;
  border-radius: 25px;
  border: none; }

.button_small_red:hover, #block-backtonewsblock .field--name-field-block-block-link a:hover {
  background-color: #66146A; }

.node-readmore, .field--name-field-content-block-link {
  text-align: center; }
  .node-readmore a, .field--name-field-content-block-link a {
    font-weight: 600;
    color: #811F58; }
  .node-readmore a:hover, .field--name-field-content-block-link a:hover {
    color: #66146A;
    text-decoration: line-through; }

select {
  border: 1px solid #969696;
  outline: none; }

select:focus {
  border: 1px solid #811F58; }

#block-views-block-news-list-block-1 {
  padding-top: 0 !important; }
  #block-views-block-news-list-block-1 .views-row {
    padding-bottom: 25px;
    padding-top: 25px;
    border-bottom: 1px solid #f0f0f0; }
    #block-views-block-news-list-block-1 .views-row .views-field-title a {
      font-weight: 600;
      color: #811F58; }
    #block-views-block-news-list-block-1 .views-row .views-field-title a:hover {
      color: #66146A;
      text-decoration: line-through; }

.field--name-field-news-title {
  text-align: center; }
  .field--name-field-news-title p {
    margin-bottom: 0; }

.field--name-field-news-subtitle {
  text-align: center; }
  .field--name-field-news-subtitle p {
    margin-top: 0; }

.field--name-field-news-image .field__item {
  text-align: center; }
  .field--name-field-news-image .field__item img {
    width: auto;
    max-height: 300px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }
  .field--name-field-news-image .field__item img:hover {
    -webkit-filter: none;
    filter: none; }

#block-backtonewsblock .field--name-field-block-block-link {
  margin-bottom: 75px;
  text-align: center; }

@media only screen and (min-width: 700px) {
  .field--name-field-news-image .field__item {
    display: inline-block;
    width: 49%;
    padding: 75px 0 0 0;
    text-align: center; } }
@media only screen and (min-width: 1000px) {
  .field--name-field-news-image .field__item {
    width: 32%; } }

/*# sourceMappingURL=news.css.map */
