// ::: fonts :::

  // Crimson (serif) : for subtitles and paragraphs
  // Montserrat : for titles, headers, footers, navigation.

  @import url('https://fonts.googleapis.com/css?family:Crimson+Text:400,400i|Montserrat:300,400,500,700');

// ::: font sizes :::

  $title: 1.3em;
  $subtitle: 1.3em;
  $text: 0.9em;
  $nav: 0.85em;
  $lh: 1.5;


// ::: colors :::

  $antracite: #293133;
  $snow: #ffffff;
  $cloudy: #f0f0f0;
  $verycloudy: #969696;
  $tinto: #811F58;
  $tintohover: #66146A;
  $opacity: 0.85;

// ::: distances :::

  $xs: 5px;
  $s: 10px;
  $m: 25px;
  $l: 50px;
  $xl: 100px;
  $xxl: 200px;



