// ::: fonts :::

  // Crimson (serif) : for subtitles and paragraphs
  // Montserrat : for titles, headers, footers, navigation.

// ::: font sizes :::

  $title: 2.4rem;
  $subtitle: 1.8rem;
  $text: 1.5rem;
  $nav: 1.3rem;

// ::: colors :::

  $antracite: #293133;
  $antracite_opacity: rgba(41,49,51,0.95);

  $snow: #ffffff;
  $cloudy: #f0f0f0;
  $verycloudy: #969696;
  $tinto: #811F58;
  $tintohover: #66146A;
  $opacity: 0.85;

// ::: distances :::

  $xs: 5px;
  $s: 15px;
  $m: 25px;
  $ml: 50px;
  $l: 75px;
  $xl: 100px;
  $xxl: 250px;



