@import 'assets';

.node--type-bebidas-page{
  margin-top: $l;

  .field--type-image{
    text-align: center;
    img{
      width: 100%;
      max-width: 300px;
      height: auto;
    }
  }

  .field{
    padding: $xs 0;

    h2{
      font-size: 100%;
      font-weight: 400;
      text-transform: capitalize;
      text-align: left;
    }

    .field__label{
      display: inline-block;
      width: 150px;
    }
    .field__items{
      display: inline-block;
    }
    .field__item{
      display: inline-block;
      a{
        border-bottom: 1px dotted $antracite;
      }
      a:hover{
        border-bottom: 1px solid $antracite;
      }
    }
  }

}