@import "assets", "elements";

//category-blocks on homepage

#block-vinos, #block-alimentacion{
  background-color: $cloudy;
}

#block-vinos, #block-alimentacion, #block-licores{
  padding-top: $l;
  padding-bottom: $l;
  text-align: center;

  //icon
  .field--name-field-block-block-icon{
    margin-bottom: $m;
  }

  //title
  .field--name-field-block-block-link{
    a{
      @extend .title;
    }
  }

  //subtitle
  .field--name-field-block-block-sub{
    @extend .subtitle;
  }
}


// === css breakpoints ===
@media only screen and (min-width : 600px) {


}

@media only screen and (min-width : 900px) {

  //show blocks next to eachother
  #block-vinos, #block-licores, #block-alimentacion{
    display: inline-block;
    width: 32.9%;
    padding-top: $xl;
    padding-bottom: $xl;
  }
}