@import 'assets';

.main-contentpage{
  margin-top: $xxl;
}

#block-mainpagecontent, .view-content, #block-nuestrosproductos{
  max-width: 1200px;
  margin: 0 auto $l auto;
  padding: 0 $l;
}

.block-block-content{
  margin-bottom: $l;
}

h2{
  text-transform: uppercase;
  font-size: $title;
  text-align: center;
  font-weight: 400;
}

//subtitles
.field--name-field-content-subtitle, .field--name-field-content-block-subtitle{
  font-family: "Crimson Text", serif;
  color: $verycloudy;
  font-style: italic;
  text-align: center;
  margin-bottom: $m;
}

p{
  font-size: $text;
  margin-bottom: $s;
}

//read more link
.field--name-field-content-block-link, .node-readmore{
  a{
    color: $tinto;
    font-weight: 700;
    font-size: $text;
    text-transform: lowercase;
  }
  a:hover{
    color: $tintohover;
  }
}