@import 'assets';

.main-contentpage{
  margin-top: $xxl;
}

.main-contentpage-image{

}

#block-mainpagecontent, .view-content, #block-nuestrosproductos{
  max-width: 1200px;
  margin: 0 auto $l auto;
  padding: 0 $l;
}

.block-block-content{
  margin-bottom: $l;
}

h2{
  text-transform: uppercase;
  font-size: $title;
  text-align: center;
  font-weight: 400;
}

//subtitles
.field--name-field-content-subtitle, .field--name-field-content-block-subtitle{
  font-family: "Crimson Text", serif;
  color: $verycloudy;
  font-style: italic;
  text-align: center;
  margin-bottom: $m;
}

p{
  font-size: $text;
  margin-bottom: $s;
}

//read more link
.field--name-field-content-block-link{
  a{
    color: $tinto;
    font-weight: 700;
    font-size: $text;
  }
  a:hover{
    color: $tintohover;
  }
}

#block-team{
  padding-top: 200px;
  height: 400px;
  text-align: center;;

  .field--name-field-content-image-block-title{
    display: inline-block;
    text-transform: uppercase;
    background-color: $antracite;
    opacity: $opacity;
    font-size: $title;
    padding: $m;
    color: $snow;
    margin-bottom: $l;
  }

  .field--name-field-content-image-block-button{
    text-align: center;
    a{
      background-color: $tinto;
      color: $snow;
      padding: $s $m;
      border: 2px solid $tinto;
      border-radius: 25px;
    }
    a:hover{
      border: 2px solid $tintohover;
      background-color: $tintohover;
    }
  }
}