@import "assets";

//high level styles

html, body{
  font-family: Montserrat, sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  letter-spacing: 1px;
  color: $antracite;
}

body{
  font-size: 1.6rem;
  line-height: 1.5;
}

//contains all content (also header)
.layout-container{
  width: 100%;
  box-sizing: border-box;
}