@import "assets";

footer{

}

.region-footer{

}

#block-vinespanv{
  background-color: $antracite;
  padding: 175px $m;

  h2, p{
    max-width: 1200px;
    margin: 0 auto;
    color: $snow;
    font-size: $nav !important;
    font-weight: 400 !important;
    text-align: right;
    text-transform: lowercase;
  }

  a{
    color: $snow;
    text-decoration: none;
    font-size: $nav !important;
    font-weight: 400 !important;
  }
}

#block-satch{
  text-align: center;
  text-transform: lowercase;
  padding-top: $s;
  padding-bottom: $s;
  color: $antracite;

  p{
    font-size: 10px !important;

  }

  a{
    border-bottom: 1px dotted $antracite;
  }
  a:hover {
    border-bottom: 1px solid $antracite;
  }
}