@import "assets";

footer{
  background-color: $antracite;
}

.region-footer{
  max-width: 1200px;
  margin: 0 auto;
  padding: $xl $m;
}

#block-vinespanv{
  h2, p{
    color: $snow;
    font-size: $nav !important;
    font-weight: 400 !important;
    text-align: right;
    text-transform: lowercase;
  }
}