@import "assets", "elements";

//portfolio + alimentacion

//filter
#views-exposed-form-filter-articles-full-block-1, #views-exposed-form-filter-alimentacion-full-block-1, #block-views-block-empleado-block-1{
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;

  //submit button
  input[type="submit"]{
    @extend .button_small_red;
    margin-top: $s;
  }

  .js-form-item{
    display: inline-block;
    width: 125px;

    label, select{
      display: inline-block;
      width: 125px;
    }

    label{
      font-size: $text;
      font-weight: 700;
    }
  }
}

//pagination (page 1 << >>)
.pager{
  margin-bottom: $l;
  text-align: center;

  .pager__item{
    font-size: $nav;
    font-weight: 400;

    a{
      background: $tinto;

      //let it appear as a button
      padding-top: $xs;
      padding-bottom: $xs;

      margin-left: $s;
      margin-right: $s;
    }

    a:hover{
      background-color: $tintohover;
    }
  }
}


//image grid
// => styling see content.css
// => used styling from other grid

.views-field-field-empleado-name{
  @extend .subtitle;
  color: $antracite !important;
  p{
    margin: 0;
  }
}
.views-field-field-empleado-function{
  @extend .subtitle;
  p{
    margin-top: 0;
    margin-bottom: $s;
  }
}