@import 'assets';

.view-id-filter_articles, .view-id-filter_articles_full
{
  max-width: 1200px;
  margin: 0 auto;

  .view-filters{
    text-align: center;
    margin-bottom: $l;

    .item-list{
      ul{
        li{
          display: inline;
          font-weight: 700;
          padding: 0 $s;
        }
        li{
          .active{
            color: $verycloudy;
            border-bottom: 2px solid $verycloudy;
          }
          a:hover{
            color: $verycloudy;
            border-bottom: 2px solid $verycloudy;
          }
        }
      }
    }
  }

  .views-row{
    width: 100%;
    margin: 0 $s $m $s;
    text-align: center;

    img{
      width: 100%;
      height: auto;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }
    img:hover{
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
    }

    .views-field-title{
      a{
        color: $antracite;
        font-size: $text;
        font-family: "Crimson Text", serif;
        font-style: italic;
      }
    }
    .views-field-field-bebidas-productor{
      a{
        color: $verycloudy;
        font-size: $text;
        font-family: "Crimson Text", serif;
        font-style: italic;
      }
    }
  }
}

.view-id-filter_articles_full{
  .js-form-item{
    display: inline-block;
    width: 100px;

    label{
      font-size: $text;
      font-weight: 700;
    }
  }

  //smaller submit button than other buttons
  input[type=submit]{
    margin-top: $s;
    color: $tinto;
    border: none;
    font-weight: 700;
    background-color: transparent;
  }

  input[type=submit]:hover{
    color: $tintohover;
  }
}

@media screen and (min-width: 650px){
  .view-id-filter_articles, .view-id-filter_articles_full{
    .views-row{
      width: 49%;
      display: inline-block;
      margin: $m 0 0 0;
    }
  }
}

@media screen and (min-width: 1300px){
  .view-id-filter_articles, .view-id-filter_articles_full{
    .views-row{
      width: 32%;
    }
  }
}
