@import "assets", "elements";

.landing{
  min-height: 350px;
}

.region-landing{
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-left: $m;
  padding-right: $m;

  .page-title{
    @extend .supertitle;
  }
}