@import "assets", "elements";

.landing{
  min-height:350px;
}

.region-landing{
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-left: $m;
  padding-right: $m;

  .page-title{
    @extend .supertitle;
    font-size: $subtitle;
  }
}

@media only screen and (min-width : 1000px) {
  //only do fixed bg on desktop
  .landing{
    background-attachment: fixed;
  }

  //bigger font on bigger screen
  .region-landing{
    .page-title{
      font-size: $title !important;
    }
  }
}